<ion-content color="primary" padding>
  <form class="formCenter" #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div class="center">
            <h3>Ratu Laundry</h3>
          </div>
          <div padding>
            <ion-item color="primary">
              <ion-input
                name="username"
                type="text"
                placeholder="Your Username"
                ngModel
                required
              ></ion-input>
            </ion-item>
            <ion-item color="primary">
              <ion-input
                name="password"
                type="password"
                placeholder="Password"
                ngModel
                required
              ></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button
              size="large"
              type="submit"
              [disabled]="form.invalid"
              expand="block"
              color="light"
            >
              Login
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="space-evenly">
            <a routerLink="/register">Register</a>
            <a routerLink="/forgotPassword">Forgot Password</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
